<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>

        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>
</phpunit>


sudo ln -s ~/instantclient_12_2/sdk/include/*.h /usr/local/include/
sudo ln -s ~/instantclient_12_2/sqlplus /usr/local/bin/
sudo ln -s ~/instantclient_12_2/*.dylib /usr/local/lib/
sudo ln -s ~/instantclient_12_2/*.dylib.12.1 /usr/local/lib/
sudo ln -s /usr/instantclient_12_2/*.dylib.12.1 /usr/local/lib/libclntsh.dylib